// General configuration used in all profiles
manifest {
  description = 'eTRANSAFE Treatment related findings pipeline' 
}

// Profiles configure nextflow depending on the environment (local, integration, live, etc.)
//container = "etransafe.bsc.es/grobid:latest"
profiles {
	standard {
		process {
			withName: ocrmypdf{
				container = "ocrmypdf:latest"
			}
		}

		process {
			withName: grobid{
				container = "etransafe.bsc.es/grobid:latest"
			}
		}


		docker.enabled = true
		}
}

