// General configuration used in all profiles
manifest {
  description = 'eTRANSAFE Treatment related findings pipeline' 
}

// Profiles configure nextflow depending on the environment (local, integration, live, etc.)
//container = "etransafe.bsc.es/grobid:latest"
profiles {
	standard {
		process {
			withName: ocrmypdf{
				container = "ocrmypdf:1.0"
			}
		}

		process {
			withName: grobid{
				container = "etransafe.bsc.es/grobid:1.0"
			}
		}
		
		process {
			withName: nlp_standard_preprocessing{
				container = "nlp-standard-preprocessing:1.0"
			}
		}
		
		process {
			withName: linnaeus_wrapper{
				container = "linnaeus-gate-wrapper:1.0"
			}
		}
		
        process {
			withName: dnorm_wrapper{
				container = "dnorm-gate-wrapper:1.0"
			}
		}
		
		process {
			withName: metamap_wrapper{
				container = "metamap-gate-wrapper:1.0"
			}
		}
		
		process {
			withName: umls_tagger{
				container = "umls-tagger:1.0"
			}
		}
		
		process {
			withName: gnormplus_wrapper{
				container = "gnormplus-gate-wrapper:1.0"
			}
		}
		
		process {
			withName: cdisc_etox_annotation{
				container = "cdisc-etox-annotation:1.0"
			}
		}
		
		process {
			withName: hepatotoxicity_annotation{
				container = "hepatotoxicity-annotation:1.0"
			}
		}
		
		process {
			withName: own_ades_terms_annotation{
				container = "own-ades-terminology-annotation:1.0"
			}
		}
		
		process {
			withName: ades_tagger{
				container = "ades-tagger:1.0"
			}
		}
		
		process {
			withName: ades_ner_postprocessing{
				container = "ades-ner-postprocessing:1.0"
			}
		}
		
		process {
			withName: ades_relation_extraction{
				container = "ades-relation-extraction:1.0"
			}
		}
		
		process {
			withName: ades_export_to_json{
				container = "ades-export-to-json:1.0"
			}
		}
		
		process {
			withName: import_json_to_mongo{
				container = "import-json-to-mongo:1.0"
			}
		}
		docker {
    		enabled = true
    		runOptions= '--net=host'
		}
		
		

		}
}

